
.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
/* shared style */
.secondary-bg{
background-color: #FFF8F3;
}

.text-primary{
  color: #FD6E0A;
}
.dark-2{
  color: #474747;
}
.btn-primary {
  background-color: #FD6E0A;
  color: white;
  font-size: 20px;
  padding: 18px 36px;
  font-weight: bold;
  border-radius: 5px;
  border: none;
}
.section-title{
  font-size: 35px;
  color: #181818;
}
.section-description {
  font-size: 18px;
  color: #757575;
}

/* header style */
.header {
  background-image: url('../images/developer.png'), url('../images/header_bg.png');
  background-repeat: no-repeat;
  background-position: top left, bottom right;
}

/* Nav styles */

nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 50px 200px;
}
.nav-title {
  font-size: 45px;
  font-weight: 800;
}
nav ul {
  display: flex;
  align-items: center;
  
}
nav ul li {
  list-style: none;
  margin-right: 50px;
}
nav li a{
  text-decoration: none;
  font-size: 20px;
}

/* banner style */

.banner{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 35px 0 200px;
}
.banner-content{
  max-width: 580px;
}
.banner-greetings{
  font-size: 45px;
  font-weight: 600;
}
.banner-title {
  font-size: 85px;
  font-weight: 700;
}
.banner-profile-pic {
  width: 580px;
}
 /* main style */
main{
  max-width: 1140px;
  margin: 0 auto;
}
/* about style */
.about{
  border-radius: 10px;
  padding: 130px 150px;
  text-align: center;
}
.about-iteams{
  display: flex;
  justify-content: space-around;
}
.iteam-title {
  font-size: 20px;
  margin-bottom: 0;
}
.iteam-description {
  font-size: 20px;
  font-weight: bold;
  margin-top: 4px;
}
